{{/* Compatibility placeholder - this template is no longer used */}}
{{/* Page generation is now handled by generate_page.py */}}
{{/* See app/templates/home-client.tmpl for the actual client-side HTML */}}
