{{/* Minimal docker-gen trigger template */}}
{{/* This template is used to trigger page regeneration */}}
{{/* The actual generation is done by generate_page.py */}}
{{range $index, $container := $ }}
{{/* Just iterate to trigger on changes */}}
{{end}}
